
.game {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-panel-toggle {
    height: 70px;
    width: 35px;
    text-align: center;
    background-color: lightblue;
    position: fixed;
    border-radius: 70px 0 0 70px;
    z-index: 1;
    right: 0;
    top: 46%;
    overflow: hidden;
    border: none;
    transition: 1s;
}

.side-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box; 
    border: none;
    min-height: 100vh;
    width: 225px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: lightblue;
    padding: 10px;
    overflow: hidden;
    transition: 1s;
}

.side-panel * {
    display: block;
    width: 210px;
}

.board {
    border: 8px ridge lightgray;
}

.board-row {
    display: flex;
}

.cell {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    /* align-items: stretch;
    justify-content: stretch; */
}

/* Tile appearance classes */

.tile {
    height: 25px;
    width: 25px;
    /* display: flex;
    /* align-items: center;
    justify-content: center; */
}

.covered {
    background-color: lightgray;
    border: 3px outset;
}

.revealed {
    background-color: lightgray;
    border: none;
}

.exploded {
    background-color: red;
    border: none;
}

/* Inner Tile appearance classes */
.flag {
    background-color: black;
    height: 12.5px;
    width: 2px;
    /* transform: translate(-4px, 0px); */
}

.flag::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 8px solid red;
    border-bottom: 4px solid transparent;
    position: absolute;
    transform: translate(1px, 0px);
}

.bomb {
    background-color: black;
    height: 12.5px;
    width: 12.5px;
    border-radius: 50%;
    /* transform: translate(-2px, 0px); */
}

.bomb::after {
    content: "";
    background-color: white;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-4px, 2px);
}

.number {
    font: bold 16px "Arial Black", Gadget, sans-serif;
    text-align: center;
}

.one {
    color: blue;
}

.two {
    color: green;
}

.three {
    color: red;
}

.four {
    color: purple;
}

.five {
    color: maroon;
}

.six {
    color: turquoise;
}

.seven {
    color: black;
}

.eight {
    color: gray;
}